.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h1 {
    margin-bottom: 1rem;
}

.headline {
    background-color: black;
    height: 2px;
    width: 30%;
    margin: 0 auto;
}


.form {
    border: 3px dashed #5397F5;
    padding: 1rem;
    border-radius: 9px;
}


.footer {
    padding: 4rem;
}

    .footerHeadline {
        background-color: black;
        height: 2px;
        width: 20%;
    }


    .documentList  {
        padding: 1rem;
        display: flex;
        gap: 1rem;
    }

